<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="" style="color:white;">Wanaka App</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class=" btn-primary nav-item text-white" role="button">
                <a class="nav-link text-white" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="card m-b-30">
                        <div class="card-body row">
                            <div class="col-6">
                            <a href=""><img src="{{conseil?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                            </div>
                            <div class="col-6 card-title align-self-center mb-0">
                                <h5>Nom Du Conseil : {{conseil?.nomDuConseil}}</h5>
                                    
                                <h5>Détails : {{conseil?.details}}</h5>
                                    
                                <h5>Solution Wanaka : {{conseil?.solutionWanaka}}</h5>
                                                                
                            </div>
                        </div>
                        <a (click)="onOpenModal(conseil, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(conseil, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
<div class="modal fade" id="updateConseilModal" tabindex="-1" role="dialog" aria-labelledby="conseilEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateConseilModalLabel">Modifier Conseil {{editConseil?.nomDuConseil}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
               <label for="nomDuConseil">Nom Du Conseil : </label>
               <input type="text" ngModel="{{editConseil?.nomDuConseil}}" name="nomDuConseil" class="form-control" id="nomDuConseil" placeholder="Nom" required>
            </div>
            <div class="form-group">
              <label for="details">Détails : </label>
              <input type="text" ngModel="{{editConseil?.details}}" name="details" class="form-control" id="details" placeholder="Détails" required>
           </div>
           <div class="form-group">
              <label for="solutionWanaka">Solution Wanaka :</label>
              <input type="text" ngModel="{{editConseil?.solutionWanaka}}" name="solutionWanaka" class="form-control" id="solutionWanaka" placeholder="Solution" required>
           </div>
            <div class="form-group">
               <label for="imageUrl">Photo de Profil : </label>
               <input type="text" ngModel="{{editConseil?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Photo de Profil" required>
            </div>
               <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                   <button (click)="onUpdateConseil(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Enregistrer</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteConseilModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Supprimer Conseil</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Etes vous certain.e de vouloir supprimer le conseil {{deleteConseil?.nomDuConseil}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button (click)="onDeleteConseil(deleteConseil.id)" class="btn btn-danger" data-dismiss="modal">Oui</button>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>